<section class="topbar sixteen columns alpha omega">
	<h1><%= @group.name %></h1>

	<% @group.users.each do |user| %>
		<span class="userpic">
			<img src="<%= user.picture_url %>"></img>
		</span>
	<% end %>
</section>

<section class="sidebar two columns alpha">
	<button id="invite">Invite a Housemate</button>

	<form id="add-listing" action="/listings" method="POST">
		<input type="hidden" name="group_id" value="<%= @group.id %>">
		<input type="hidden" name="added_by" value="<%= @user.id %>">
		<input type="url" name="url">
		<input type="submit" value="Add a listing">
	</form>
</section>

<div class="center fourteen columns omega">
	<div id="listings">
			<% @group.listings.each do |listing| %>
				<% @listing = listing %>
				<%= erb :_listing %>
			<% end %>
	</div>
</div>